*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(bluebackground.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;   
}

.icon{
    width: 200px;
    float: none;
    height: 70px;
    }

.logo{
    color: black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.content .cn{
width: 500px;
height: 70px;
background: azure;
border: none;
margin-bottom: 10xp;
margin-left: 20px;
font-size: 25px;
border-radius: 10px;
cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;

}