/* Default color scheme */
:root {
  --main-bg-color: #caeffc;
  --main-text-color: #1c1c1c;
  --main-bg-btn-color: #fcd568;
  --main-bg-btn-hover: #cca53b;
}

/* Elements */

/* Classes */
.button {
  background-color: var(--main-bg-btn-color);
  border-radius: 8px;
  border: 4px solid black;
  font-size: 20pt;
  font-weight: 700;
  margin: 10px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: var(--main-bg-btn-hover);
}

.options {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 300px;
}

.options > button {
  flex: auto;
}

/* Id's */
#credit {
  font-size: 15pt;
  font-weight: 400;
  margin-top: 100px;
  text-align: center;
}

#Title {
  color: var(--main-text-color);
  font-size: 40pt;
  font-weight: 700;
  margin-top: 80px;
  text-align: center;
}
