/* Import of Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Default color scheme */
:root {
    --main-bg-color: #caeffc;
    --main-text-color: #1c1c1c;
    --main-bg-btn-color: #fcd568;
    --main-bg-btn-hover: #cca53b;
}

/* Elements */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

/* Classes */
.button {
    background-color: var(--main-bg-btn-color);
    font-size: 20pt;
    font-weight: 700;
    margin: 2%;
    padding: 2% 0;
}

.button:hover {
    cursor: pointer;
    background-color: var(--main-bg-btn-hover);
}

.options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.options > button {
    flex: auto;
}

/* Id's */
#credit {
    font-size: 15pt;
    font-weight: 400;
    margin-top: 10%;
    text-align: center;
}

#Title {
    color: var(--main-text-color);
    font-size: 40pt;
    font-weight: 700;
    margin-top: 3%;
    text-align: center;
}